p {
    text-align: justify;
    text-indent: 50px;
}

body {
    background-color: rgb(228, 247, 255);
    color: rgba(0, 0, 0, 1);
}

.interface {
    width: 800px;
    margin: 250px -5px 0px 5px;
    box-shadow: 0px 0px 3px black;
    padding: 10px 10px 10px 10px;
    background-color: white;
    margin-bottom: 11px;
}
/* editar imagem logo */ 

.container {
    border: 5px solid white;
    box-shadow: 1px 1px 4px black;
}

.container {
    width: 300px;
    height: 300px;
}

#menu {
    display: block;
}

#menu ul {
    list-style: none;
    text-transform: uppercase;
    position: absolute;
    top: 190px;
    left: 350px;
}

#menu li {
    display: inline-block;
    background-color: #dddd;
    padding: 10px;
    margin: 4px;
    transition: 1s;
}

#menu li:hover {
    background-color: #f1ff77;
}
#menu h1 {
    display: none;
}

#menu a {
    color: rgba(0, 0, 0, 1);
    text-decoration: none;
}

#menu a:hover {
    color: floralwhite;
}

#biblia {
    display: block;
    position: absolute;
    width: 1341px;
    height: 205px;
    top: 0px;
}

aside#lateral {
    margin-top: 250px;
    display: block;
    width: 480px;
    float: right;
    padding: 8px;
    padding-bottom: 70px;
    box-shadow: 0px 0px 3px black;
    background-color: white;
    margin-left: 10px;
}

section {
    display: block;
    width: 600px;
    float: left;
    height: 900px;
}

table#tabela {
    border: 1px solid black;
    border-spacing: 0px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

table#tabela td {
    border: 1px solid black;
    padding: 12px;
}

table#tabela td.ce {
    background-color: rgb(111, 226, 255);
}

table#tabela td.cd {
    background-color: rgb(115, 160, 160);
}

footer {
    clear: both;
    border-top: 1px solid black;
    padding-top: 10px;
    text-decoration: none;
}

footer#rodape {
    text-align: center
}

footer a {
    text-decoration: none;
}

body h1 {
    background-color: rgb(250, 101, 101);
    padding: 8px;
    text-align: center;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

video {
    height: 250px;
    margin-left: 15px;
}

audio {
    width: 475px;
}