p {
    text-align: justify;
    text-indent: 50px;
}

body {
    background-color: rgb(255, 243, 227);
    color: rgba(0, 0, 0, 1);
}

/* editar imagem logo */ 

.container {
    border: 5px solid white;
    box-shadow: 1px 1px 4px black;
}

.container {
    width: 300px;
    height: 300px;
}